@import url("base.css");

#left_border {
	display: none;
}

#left_border>._888 {
	display: none;
}

footer>p:after{
	content: ": https://www.iconfinder.com/";
}

.page>.section>h1 {
	color: black;
	box-shadow: none;
}

.bar_chart_area{
	display:none;
}

.skills .table span.items {
	background-color: #fff;
	color: black;
	border-top-right-radius: none;
	border-bottom-right-radius: none;
}